#task-container{
  max-width: 100%;
  height: max-content;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 15px;
  gap: 20px;
  flex-wrap: wrap;
}