#topbar {
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icons-container {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 20px;
}