.task-card-container {
  position: relative;
  width: 240px;
  height: max-content;
  border-radius: 10px;
  padding: 15px;
  overflow: hidden;
}

.task-card {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.title {
  width: 100%;
  height: 40px;
}

.note {
  width: 100%;
  word-break: break-all;
  height: 145px;
}

.date {
  width: 100%;
  height: 20px;
}

.task-card:hover {
  cursor: grab;
}

.task-card .edit-btn {
  position: relative;
  padding: 10px;
  font-size: 15px;
  background-color: transparent;
  border: 0;
}

.task-card .title-edit-container {
  display: flex;
}

.task-completed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(147, 228, 147, 0.53);
  display: flex;
  justify-content: center;
  align-items: center;
}

.task-card .button-container {
  transition: all 0.5s;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.hide {
  opacity: 0;
  height: 0;
}

.show {
  opacity: 1;
  height: 50px;
}

.button-container .trash {
  transition: background-color 0.3s;
  color: rgb(236, 231, 231);
  background-color: rgb(72, 1, 1);
}

.button-container .trash:hover {
  color: white;
  background-color: rgb(149, 2, 2);
}

.button-container .completed {
  transition: background-color 0.3s;
  color: black;
  background-color: rgb(179, 177, 177);
}

.button-container .completed:hover {
  background-color: rgb(111, 110, 110);
  color: rgb(255, 255, 255);
}

.button-container .icon {
  font-size: 20px;
}

.button-container button {
  background-color: transparent;
  width: 50%;
  padding: 15px;
  border: 0;
}